@charset "utf-8";
/*color*/
.ivu-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  &:hover{
    background-color: #5fcbea;
  }
}
.ivu-btn-success {
  background: #26B99A;
  border: 1px solid #169F85;
  &:hover{
    background: #22a78b;
  }
}
.ivu-btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  &:hover{
    background-color: #dea048;
  }
}
.ivu-btn-error {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  &:hover{
    background-color: #c94d49;
  }
}
.ivu-btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  &:hover{
    background-color: #2c699d;
    border-color: #285e8d;
  }
}
.floatRight {
  float: right;
  margin-right: 15px;
}
.floatLeft {
  float: left;
  margin-left: 15px;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
/**************************************************/
//header
.ivu-menu-horizontal {
  height: 64px;
  line-height: 64px;
}

#homeContainer {
  height: 100%;
  margin-left: -1px;
  .layout {
    height: 100%;
    .ivu-layout {
      height: 100%;
      .ivu-layout-header {
        padding: 0;
        background: #2a3f54;
        .layout-nav {
          float: left;
          margin-left: 30px;
          margin-right: 10px;
          width: 560px;
          overflow: hidden;
          a.router-link-exact-active{
            .ivu-menu-item{
              color: #fff;
              background-color: #122f4c;
            }
          }
          .ivu-menu-item{
            a {
              color: #e3e3e3;
              &:hover{
                color: #fff;
                background-color: #122f4c;
              }
              .ivu-icon {
                margin-right: 5px;
              }
            }
          }
        }
      }
      .layout-header-bar {
        .ivu-icon {
          cursor: pointer;
        }
      }

      .ivu-menu-vertical{
        .ivu-menu-submenu{
          .ivu-menu{
            max-height: 480px;
            overflow-y: auto;
          }
        }
        .ivu-menu-item{
          padding: 10px 25px;
          text-align: left;
          font-size: 12px;
        }
      }

      .ivu-layout{
        .ivu-layout-sider{
          background: #2a3f54;
          .ivu-layout-sider-children{
            .ivu-menu-dark{
              .ivu-menu-submenu{
                background: #2a3f54;
                .ivu-menu-submenu-title {
                  background: #2a3f54;
                  text-align: left;
                  &:hover{
                    background: #25394f;
                  }
                }
                .ivu-menu{
                  .treeContent {
                    overflow-y: scroll;
                    height: 400px;
                    // height: 250px;

                    text-align: left;
                    .ivu-tree{
                      .ivu-tree-arrow {
                        i{
                          color: #38536d;
                        }
                      }
                      .ivu-tree-title {
                        color: #c7c7c7;
                        &:hover{
                          color: #373f50;
                        }
                      }
                      .ivu-tree-title.ivu-tree-title-selected {
                        color: #2a3f54;
                      }
                    }

                  }
                  // .treeContent::-webkit-scrollbar {display:none}
                }
              }
              .ivu-menu-submenu.ivu-menu-opened{
                .ivu-menu-submenu-title {
                  background: #25394f;
                }
              }
            }
          }
        }

        .ivu-layout{
          .ivu-layout-header{
            height: auto;
            background-color: #fff;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            .ivu-icon{
              //float: left;
            }
            .ivu-btn-group{
              .btn{
                &.active{
                  background: #1ba0c7;
                  border-color: #199dc3;
                }
              }
            }
            .ivu-input-group{
              padding: 16px 0;
              .ivu-input{
                border: 1px solid #41abcb;
                &:hover{
                  border: 1px solid #4ac2e6;
                }
              }
              .ivu-btn{
                .ivu-icon{
                  float: inherit;
                }
              }
              .ivu-input-group-append{
                background-color: #55b5d1;
                border: 1px solid #55b5d1;
                color: #fff;
                &:hover{
                  background-color: #5fcbea;
                  border-color: #4ac2e6;
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                }
              }
            }
          }
          .ivu-layout-content{
            background: #fff;
            margin-top: 10px;
            // margin-bottom: 90px;
            min-height: 260px;
            overflow-y: auto;
            .formContainer{
              width: 500px;
              padding: 20px 0;
              margin: 0 auto;
              .ivu-select{
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

.ivu-modal{
  .ivu-modal-body{
    .modalListUl{
      ul{
        list-style: none;
        li{
          background-color: #f5f5f5;
          padding: 3px;
          margin-bottom: 3px;
          &:hover{
            background-color: #f0f0f0;
          }
        }
        li.active{
          background-color: #e7ffe5;
          color: #465845;
        }
      }
    }
  }
}

.ivu-menu-dark {
  background: #2a3f54;
}

.layout-user {
  .userInfo {
    margin-right: 10px;
    .buddha,
    .explain {
      position: relative;
      display: block;
    }

    .buddha {
      line-height: 26px;
      width: 26px;
      height: 26px;
      background: #bfc5cc;
      border-radius: 50%;
      top: 17px;
      font-size: 22px;
      color: #2c4055;
    }
    .explain {
      margin-left: 10px;
      left: 26px;
      top: -15px;
      text-align: left;
      /*clear: both;*/
    }
    .explain p {
      line-height: 20px;
      font-size: 12px;
      color: #cccccc;
    }
  }
  .logoutIcon {
    font-size: 26px;
    line-height: 60px;
    color: #bfc5cc;
  }
  .logoutIcon:hover {
    color: #e5ecf4;
  }
}

.ivu-table{

}
.ivu-table-row-highlight,
.ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n),
.ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n),
tr.ivu-table-row-highlight.ivu-table-row-hover{
  td{
    background-color: #dcf4ef;
  }
}
.ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover,
.ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-hover{
  td{
    background-color: #dcf4ef;
  }
}


.layout-user {
  float: right;
  padding-right: 20px;
}
.user-manual{
  float: right;
}

.layout-user .ivu-dropdown .ivu-dropdown-rel a {
  color: #c6c8cd;
}

.layout-user .ivu-dropdown .ivu-dropdown-rel a:hover {
  color: #fff;
}

.layout-user .ivu-select-dropdown .ivu-dropdown-item a {
  color: #495060;
}

.layout-user .ivu-avatar-icon {
  margin-right: 2px;
}

.layout {
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.layout-logo {
  width: 200px;
  height: 36px;
  background: #23384e;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 20px;
}

.layout-logo img {
  width: 100%;
}
.layout-logo-left {
  width: 90%;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  margin: 15px auto;
}

.menu-icon {
  transition: all 0.3s;
}

.rotate-icon {
  transform: rotate(-90deg);
}

.menu-item span {
  display: inline-block;
  overflow: hidden;
  /*width: 69px;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
  transition: width 0.2s ease 0.2s;
}

.menu-item i {
  transform: translateX(0px);
  transition: font-size 0.2s ease, transform 0.2s ease;
  vertical-align: middle;
  font-size: 16px;
}

.collapsed-menu span {
  width: 0px;
  transition: width 0.2s ease;
}

.collapsed-menu i {
  transform: translateX(5px);
  transition: font-size 0.2s ease 0.2s, transform 0.2s ease 0.2s;
  vertical-align: middle;
  font-size: 22px;
}

.ivu-menu-vertical .ivu-menu-item,
.ivu-menu-vertical .ivu-menu-submenu-title{
  padding: 10px 15px;
}

//pager
.pageContainer{
  width: 400px;
}
// 分页电梯宽度修改
.ivu-page-simple{
  .ivu-page-simple-pager{
    input {
      width: 50px;
    }
  }
}
